#header
	%p
		About
	%h1#title
		A New sheBe Blog
	%p
		and related things
#body.about
	%h3
		sheBe
	:textile
		sheBe - a Simple HEroku Blog Engine. Quick and easy blogging for the awesome "Heroku":http://heroku.com platform. Made by "cBright UK":http://cbright.co.uk in about 3 hours. But we were taking it easy. Gots to love the Rails.
		
		Some important mentions:
		* Concept taken from "Scanty":http://github.com/adamwiggins/scanty
		* CSS - "creative commons licensed":http://creativecommons.org/licenses/by-sa/2.5/ by "Ryan Tomayko":http://tomayko.com/about
		* Code - "creative commons licensed":http://creativecommons.org/licenses/by-sa/2.5/ by "cBright UK":http://cbright.co.uk