!!!
%head
	%title A New sheBe Blog
	= auto_discovery_link_tag(:rss, rss_posts_url)
	= stylesheet_link_tag :all, :cache => true
%body#home
	#container
		= yield
		#footer
			%p.rights
				Powered by
				= link_to "sheBe", "http://github.com/chris-cbright/sheBe"